@media screen and (max-width: 1960px) {
    
    .hidden-menu-ticker:checked~.content .container {
        margin-left: 270px;
    }
}

@media screen and (max-width: 1445px) {
    .top-line > .container > div {
        flex-basis: 100%;
        justify-content: space-between;
    }
    
    .top-line > .container > h1 {
        margin-top: 15px;
    }
    
    .switch span {
        font-size: 18px;
        padding: 6px;
    }
    
    .filter {
        border-left: none;
    }
}

@media screen and (max-width: 980px) {

    .white-block .border-block {
        flex-basis: 12%;
    }
    
    .good, .bad {
        min-width: 50px;
    }
}
